# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
_autosummary

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
.venv2/
venv/
ENV/

# MyPy
.mypy_cache/

# PyCharm env
.idea

# Local caches for examples
# .examples/cache/   
examples/cache/  
examples/data 
cache 
backlog_notebooks

data
.csv
examples/cache/    

examples/output_routes
examples/training_logs
examples/route_generator/datasets
examples/route_generator/experiment_results
examples/route_generator/output_graphs
examples/route_generator/output_routes
examples/route_generator/training_logs
data/*
data/MandlCoords.txt

examples/lc_results_old/
examples/route_generator/lc_improvement_outputs/improvement_lc_improvement_trim_val_routes.pt
examples/route_generator/lc_improvement_outputs/improvement_lc_improvement_trim.pt
examples/route_generator/lc_improvement_outputs/old_improvement_lc_improvement_trim_val_routes.pt
examples/route_generator/lc_improvement_outputs/old_improvement_lc_improvement_trim.pt
examples/route_generator/lc_improvement_outputs/improvement_lc_improvement_trim_val_routes.pt

# Large generated datasets
datasets/raw_graphs_1000.pkl
